@import '../../App.scss';

.animations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $cool-blue;
}

.animation-item {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: $electric-purple;
  color: $cool-gray;
  font-family: $sleek-font;
  text-align: center;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: $mobile) {
  .animations-container {
    flex-direction: column;
  }

  .animation-item {
    margin: 10px;
  }
}